asgiref==3.11.0
beautifulsoup4==4.14.3
certifi==2026.2.25
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
choreographer==1.2.1
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0.3
django-bootstrap5==26.2
django-filter==25.2
djangorestframework==3.16.1
et_xmlfile==2.0.0
idna==3.11
iniconfig==2.1.0
kaleido==1.2.0
logistro==2.0.1
msgpack==1.1.2
narwhals==2.18.1
numpy==2.4.3
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
orjson==3.11.7
packaging==25.0
pillow==12.0.0
plotly==6.6.0
pluggy==1.6.0
psycopg==3.3.4
psycopg-binary==3.3.4
Pygments==2.19.2
pytest==8.4.2
pytest-timeout==2.4.0
python-decouple==3.8
redis==7.4.0
reportlab==4.4.10
requests==2.32.5
simplejson==3.20.2
soupsieve==2.8
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
uv==0.9.4
